body
{
background-image:url("https://source.unsplash.com/user/erondu/1600x900");
}
p
{

color:#B8860B;
font-size:30px;
text-align: center;
}
div
{
position:absolute;
left: 460px;
top:40px;
border:2px solid PapayaWhip;
padding:30px;
}
tr.first 
{
color:red;
font-style:italic;
font-size:20px;
}
tr.second 
{
color:blue;
font-style:italic;
font-size:20px;
}
tr.third 
{
color:green;
font-style:italic;
font-size:20px;
}
tr.fourth 
{
color:red;
font-style:italic;
font-size:20px;
}
tr.fifth 
{
color:DarkBlue;
font-style:italic;
font-size:20px;
}
tr.sixth
{
color:green;
font-style:italic;
font-size:20px;
}
tr.seventh 
{
color:orange;
font-style:italic;
font-size:20px;
}
tr.eigth 
{
color:red;
font-style:italic;
font-size:20px;
}
